* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.container {
    background-color: #ff7e67;
    width: 90%;
    max-width: 700px;
    margin: 6rem auto 0;
    border-radius: 5px;
}

.container h1 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid #347474;
    padding: 1rem;
    text-align: center;
    color: #35495e;
}

.quiz {
    padding: 1.8rem 0;
}

.quiz h2 {
    padding: 1rem;
    color: #35495e;
}

#answer-choices {
    margin: 1rem;
}

.choices {
    background-color: #35495e;
    font-weight: 600;
    width: 100%;
    border: 1px solid #347474;
    padding: 0.8rem;
    margin: 0.8rem 0;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    color: white; 
}

.choices:hover:not([disabled]) {
    background: #e0ffcd;
    color: #35495e;
}

.choices:disabled{
    cursor: no-drop;
}

#next {
    background: #35495e;
    color: white;
    width: 130px;
    padding: 1rem;
    margin: 1rem auto 0;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

#next:hover {
    background: #e0ffcd;
    color: #35495e;
}

/* Styles for correct and incorrect choices created din JS */
.correct {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.incorrect {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}




