* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: #385170;
}

.container {
    background-color: #ff7e67;
    width: 90%;
    max-width: 700px;
    margin: 6rem auto 0;
    border-radius: 5px;
}

.container h1 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid #347474;
    padding: 1rem;
    text-align: center;
    color: #35495e;
}

#head-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.head-prefix {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.head-main-text {
    background-color: rgb(182, 244, 146);
    border-radius: 50%;
}

.quiz {
    padding: 1.8rem 0;
}

.quiz h2 {
    padding: 1rem;
    color: #35495e;
}

#answer-choices {
    margin: 1rem;
}

.choices {
    background-color: #35495e;
    font-weight: 600;
    width: 100%;
    border: 1px solid #347474;
    padding: 0.8rem;
    margin: 0.8rem 0;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    color: white; 
}

.choices:hover:not([disabled]) {
    background: white;
    color: #35495e;
}

.choices:disabled {
    cursor: no-drop;
}

#next {
    background: #35495e;
    color: white;
    width: 130px;
    padding: 1rem;
    margin: 1rem auto 0;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

#next:hover {
    background: white;
    color: #35495e;
}

/* Styles for correct and incorrect choices created din JS */
.correct {
    background: rgb(182, 244, 146);
    color: #35495e;
}

.incorrect {
    background: #ffb5b5;
    color: #35495e;
}




